.songStats{
	width: 50%;
	display: grid;
	grid-template-columns: 1fr;
}

.songStats__item{
	margin: 16px 16px;
}

.songStats__itemHeader{
	padding: 14px 0px;
	display: flex;
	justify-content: space-between;
}

.songStats__title{
	color: #9aabb3d9;
}

.songStats__title::first-letter{
	text-transform: capitalize;
}

.songStats__value{
	color: #e5f9f9d9;
}

@media (min-width: 710px)  {
	.songStats {
		grid-template-columns: 1fr 1fr;
	}
}